.column {
    float: left;
    width: 20%;
    padding: 1px;
    height: 300px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#c1 {
    background-color: lightblue;
}
#c2 {
    background-color: lightgreen;
}
#c3 {
    background-color: lightcoral;
}
#c4 {
    background-color: lightgray;
}
div text {
    size: 100px;
}